/*! Gadget Specific Styles */

body {
    margin: 10px;
    background-color: transparent;
    overflow: hidden;
}

input {
	margin-bottom:5px !important;
	display:block;
}

.btn {
	margin-top: 10px;
	display:block !important;
}